.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  margin-left: 10%;
  margin-right: 10%;
}

.flexItem1 {
  order: 0;
  flex: 0 1 40%;
  align-self: center;
  margin-left: 2%;
}

@media only screen and (max-width: 750px) {
  .flexContainer {
    display: inline-grid;
  }
}

.flexItem2 {
  order: 0;
  flex: 0 1 60%;
  align-self: auto;
}

.productHead {
  display: inline;
}

.productTitle {
  float: left;
  margin-left: 3%;
  text-transform: capitalize;
}

.productPrice {
  float: right;
  margin-right: 4%;
}

.productMid {
  margin-top: 6em;
  margin-left: 3%;
}

.productFoot {
  margin-left: 3%;
}

h4 {
  text-transform: capitalize;
}
