.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    border: lightgray 2px solid;
    margin-left: 10%;
    margin-right: 10%;
}

.flexItem1 {
    order: 0;
    flex: 0 1 30%;
    align-self: auto;
}

.flexItem2 {
    order: 0;
    flex: 0 1 70%;
    align-self: auto;
}

.productHead {
    display: inline;
}

.productTitle {
    float: left;
}

.productPrice {
    float: right;
    margin-right: 2%;
}

.productMid {
    margin-top: 6em;
}

.productFoot {
    display: inline;
}