.search {
  display: inline-block;
}

input[type="text"] {
  width: 150%;
  transition: width 0.4s ease-in-out;
}

/* When interacted with change width to 300% */
input[type="text"]:focus {
  width: 250%;
}
